*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34, 34, 34);
}

/*buttons */

button{
    padding: 18px 45px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    border: 2px solid white;
    background: transparent;
    color: blanchedalmond;
    position: relative;
    transition: .4s ease;
}
.first::before{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: crimson;
    color: white;
    border-radius: 5px;
    transition: .3s linear all;
}
.first:hover::before{
    width: 100%;
}
.first:hover::after{
  content: 'Hover';
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: 100%;
}

.second::before{
    content: '';
    height: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: crimson;
    color: white;
    border-radius: 5px;
    transition: .3s linear all;
}
.second:hover::before{
    height: 100%;
}
.second:hover::after{
  content: 'Hover';
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}


.third {
	border: 0;
	cursor: pointer;
	background: none;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	position: relative;
	outline: none;
	padding: 18px 40px;
	box-sizing: border-box;
  }
  
  .third::before, button::after {
	box-sizing: inherit;
	position: absolute;
	content: '';
	border: 2px solid transparent;
	width: 0;
	height: 0;
  }
  
  .third::after {
	bottom: 0;
	right: 0;
  }
  
  .third::before {
	top: 0;
	left: 0;
  }
  
  .third:hover::before, .third:hover::after {
	width: 100%;
	height: 100%;
  }
  
  .third:hover::before {
	border-top-color: crimson;
	border-right-color: crimson;
	transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
  }
  
  .third:hover::after {
	border-bottom-color: crimson;
	border-left-color: crimson;
	transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
  }

  .fourth:hover{
    background: crimson;
    box-shadow: 0 0 28px 10px crimson;
}


.fifth {
	border: 2px solid white;
	background: transparent;
	text-transform: uppercase;
	color: white;
	padding: 18px 50px;
	outline: none;
	overflow: hidden;
	position: relative;
	transition: .3s ease;
	cursor: pointer;
  }
  .fifth:hover{
	  background: crimson;
  }
  
  .fifth span {
	z-index: 20;  
  }
  
  .fifth:after {
	content: '';
	  display: block;
	  position: absolute;
	  top: -36px;
	  left: -100px;
	  background: white;
	  width: 50px;
	  height: 125px;
	  opacity: 25%;
	  transform: rotate(-45deg);
  }
  
  .fifth:hover:after {
	left: 120%;
	transition: all .8s cubic-bezier(0.3, 1, 0.2, 1);
	 -webkit-transition: all .8s cubic-bezier(0.3, 1, 0.2, 1);
  }